.nav {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 2rem; 
  background-color: #222;
  z-index: 1000;
  box-sizing: border-box;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.active {
  color: #61dafb;
}
